In [ ]:
pip install pandas

Requirement already satisfied: pandas in c:\users\edgar\appdata\local\programs\python\python39\lib\site-packages (1.4.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\edgar\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\edgar\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.22.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\edgar\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\edgar\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.3 is available.
You should consider upgrading via the 'C:\Users\edgar\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

# PANDAS 1

É uma biblioteca em Python que fornece ferramentas de estrutura de dados e análise de dados com alto performance e fáceis de usar. Se tornou uma biblioteca tão completa que atualmente é indispensável para Análise de Dados.

In [ ]:
# Importando Biblioteca

import pandas as pd

### Existem no pandas existem dois tipos principais de estruturas de dados:

#### Series

Funciona como um array unidimensional, ou seja, uma lista de valores (lembra bastante a estrutura de um numpy array). Que possui uma estrutura de valores e índice.

In [ ]:
# Os retornos de uma ação durante a semana

retornos = pd.Series([0.03, 0.021, 0.001, -0.05, 0.031])

retornos

0    0.030
1    0.021
2    0.001
3   -0.050
4    0.031
dtype: float64

Podemos alterar o índice de uma Series:

In [ ]:
retornos = pd.Series([0.03, 0.021, 0.001, -0.05, 0.031], 
                    index = ["Seg", "Ter", "Qua", "Qui", "Sex"])

retornos

Seg    0.030
Ter    0.021
Qua    0.001
Qui   -0.050
Sex    0.031
dtype: float64

Podemos acessar os valores do Series utilizando o índice:

In [ ]:
retornos["Ter"]

0.021

Podemos utilizar funções estatíosticas sobre os valores. Dentro da documentação oficial do objeto é possivel encontrar diversas funções. 

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

In [ ]:
print("Média (Esperança):", retornos.mean())
print("Desvio padrão (Volatilidade):", retornos.std())

Média (Esperança): 0.0066
Desvio padrão (Volatilidade): 0.033857052441108926

Podemos utilizar um resumo que mostra algumas estatísticas dos dados.

In [ ]:
retornos.describe()

count    5.000000
mean     0.006600
std      0.033857
min     -0.050000
25%      0.001000
50%      0.021000
75%      0.030000
max      0.031000
dtype: float64

#### DataFrame

A estrutura mais famosa e utilizada dentro do Pandas. É uma estrutura bidimensional de dados, lembra uma planilha.

In [ ]:
# Os retornos de duas ações durante a semana

df_retornos = pd.DataFrame({"Dia Semana" : ["Seg", "Ter", "Qua", "Qui", "Sex"],
                           "Ativo B" : [0.022, 0.010, 0.017, -0.07, -0.0051],
                           "Ativo C" : [-0.02, -0.006, 0.023, 0.009, 0.017]})

df_retornos

  Dia Semana  Ativo B  Ativo C
0        Seg   0.0220   -0.020
1        Ter   0.0100   -0.006
2        Qua   0.0170    0.023
3        Qui  -0.0700    0.009
4        Sex  -0.0051    0.017

Podemos observar os tipos dos dados:

In [ ]:
df_retornos.dtypes

Dia Semana     object
Ativo B       float64
Ativo C       float64
dtype: object

É possivel acessar as colunas de um DataFrame de forma simples:

In [ ]:
df_retornos.columns

Index(['Dia Semana', 'Ativo B', 'Ativo C'], dtype='object')

In [ ]:
# Com um colchete pegamos a coluna em formato de Series

df_retornos['Ativo B']

0    0.0220
1    0.0100
2    0.0170
3   -0.0700
4   -0.0051
Name: Ativo B, dtype: float64

In [ ]:
# Com dois colchete criamos outro DataFrame

df_retornos[['Ativo B']]

   Ativo B
0   0.0220
1   0.0100
2   0.0170
3  -0.0700
4  -0.0051

Podemos definir um índice:

In [ ]:
# Nesse cado iremos utilizar a primeira coluna como índice

df_retornos.index = df_retornos["Dia Semana"]

In [ ]:
df_retornos

           Dia Semana  Ativo B  Ativo C
Dia Semana
Seg               Seg   0.0220   -0.020
Ter               Ter   0.0100   -0.006
Qua               Qua   0.0170    0.023
Qui               Qui  -0.0700    0.009
Sex               Sex  -0.0051    0.017

In [ ]:
# Podemos tirar uma coluna utilizando a função .drop()

df_retornos = df_retornos.drop(["Dia Semana"], axis = 1) 

df_retornos

            Ativo B  Ativo C
Dia Semana
Seg          0.0220   -0.020
Ter          0.0100   -0.006
Qua          0.0170    0.023
Qui         -0.0700    0.009
Sex         -0.0051    0.017

In [ ]:
# É possível utilizar a .describe()

df_retornos.describe()

        Ativo B  Ativo C
count  5.000000  5.00000
mean  -0.005220  0.00460
std    0.037626  0.01753
min   -0.070000 -0.02000
25%   -0.005100 -0.00600
50%    0.010000  0.00900
75%    0.017000  0.01700
max    0.022000  0.02300

In [ ]:
# Podemos selecionar dados utilizando um Boleano

df_retornos[df_retornos["Ativo B"] > 0]

            Ativo B  Ativo C
Dia Semana
Seg           0.022   -0.020
Ter           0.010   -0.006
Qua           0.017    0.023

In [ ]:
# Podemos utilizar condições mutiplas com simbolos 

df_retornos[(df_retornos["Ativo B"] > 0) & (df_retornos["Ativo C"] > 0)]

            Ativo B  Ativo C
Dia Semana
Qua           0.017    0.023

### Leitura de Dados

Como vimos é possivel manipular dados, o Pandas nos fornece uma série de funcionalidade de leitura de dados. Aqui iremos utiliza o pd.read_csv (Comma Separeted Values - Valores divididos por virgula, podendo ser ponto-virgula), pois nesse formato se encontra a maioria dos dados.

De uma olhada na documentação oficial do objeto que irá encontrar diversas formas de leitura de dados e diversas funcionalidades: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [ ]:
df = pd.read_csv("dados_devers.csv", sep = ";")

NameError: ignored

In [ ]:
# Podemos utilizar o .head() para mostrar as 5 primeiras linhas

df.head()

In [ ]:
# Mostrar quantidade de linhas e colunas

df.shape

In [ ]:
# Na própria função de leitura de dados podemos definir um índice

df = pd.read_csv("dados_devers.csv", sep = ";", index_col=0)

In [ ]:
# Na mesma lógica do .head() o .tail() mostra as 5 ultimas linhas

df.tail()

In [ ]:
df.columns[-2:]

In [ ]:
# Vamos remover as colunas finais, já que vieram sem dados

df = df.drop(df.columns[-2:], axis = 1)

In [ ]:
df.head()

In [ ]:
# Podemos observar se temos dados em branco (NaN):

# df.isna() # Mostrar que vira uma tabela de bools

# Utilizando a função .sum()
df.isna().sum()

In [ ]:
# Remover os dados
df = df.dropna()

df.isna().sum()

In [ ]:
df.shape

In [ ]:
# Dados Duplicados

df.duplicated().sum()

In [ ]:
# Remoiver dados duplicados

df = df.drop_duplicates()

df.shape

In [ ]:
# Podemos criar colunas - supondo que cada curso tem 4 horas de duração

df['Horas Estudadas'] = df["Cursos 2022"] * 4

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.dtypes

In [ ]:
# Podemos criando uma coluna

df["Média USP"] = df["Média FEA"].str.replace(",",".")

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.dtypes

In [ ]:
df["Média USP"] = df['Média USP'].astype(float)

In [ ]:
df.describe()